{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Bandas</h1>

    {% for mensaje in app.flashes('error') %}
        <div>
            {{ mensaje }}
        </div>
    {% endfor %}
    {% for mensaje in app.flashes('exito') %}
        <div>
            {{ mensaje }}
        </div>
    {% endfor %}

    <a href="{{ path('banda_listar') }}" class="btn btn-primary">nuevo</a>
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Año</th>
            <th>Pais</th>
            <th>Género</th>
            <th>Activo</th>
            <th>Miembros</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for banda in bandas %}
            <tr>
                <td>{{ banda.id }}</td>
                <td>{{ banda.nombre }}</td>
                <td>{{ banda.anioCreacion }}</td>
                <td>{{ banda.pais }}</td>
                <td>{{ banda.genero }}</td>
                <td>{% if banda.activo %}SÍ{% else %}NO{% endif %}</td>
                <td>
                    {% for miembro in banda.miembros %}
                        {{ miembro }}<br>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('banda_listar', {id : banda.id}) }}" class="btn btn-primary">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <th colspan="5">No hay bandas</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
