{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Cambiar contraseña de {{ artista.alias }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group row">
        <div class="col-sm-10">
            <a href="{{ path('artista_listar') }}" class="btn btn-info">Volver</a>
            <input type="submit" name="guardar" class="btn-primary btn" value="enviar">
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}