{% extends 'layout.html.twig' %}

{% block content %}
    {% for mensaje in app.flashes('error') %}
        <div>
            {{ mensaje }}
        </div>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="enviar" class="btn btn-success">
    {% if artista.id %}<a href="{{ path('artista_listar', {id : artista.id}) }}" class="btn btn-danger">borrar</a>{% endif %}
    {{ form_end(form) }}
{% endblock %}

