{% extends 'layout.html.twig' %}

{% block content %}
    {% for mensaje in app.flashes('error') %}
        <div>
            {{ mensaje }}
        </div>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ path('disco_listar') }}" class="btn btn-info">Volver</a>
    <input type="submit" value="enviar" class="btn btn-success">
    {% if is_granted('ROLE_ADMIN') %}
        {% if disco.id %}<a href="{{ path('disco_eliminar', {id : disco.id}) }}" class="btn btn-danger">borrar</a>{% endif %}
    {% endif %}
    {{ form_end(form) }}
{% endblock %}