{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Discos</h1>

    {% for mensaje in app.flashes('error') %}
        <div>
            {{ mensaje }}
        </div>
    {% endfor %}
    {% for mensaje in app.flashes('exito') %}
        <div>
            {{ mensaje }}
        </div>
    {% endfor %}

    <a href="{{ path('disco_nuevo') }}" class="btn btn-primary">nuevo</a>
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Código</th>
            <th>Titulo</th>
            <th>Artista</th>
            <th>Año</th>
            <th>Tipo</th>
            <th>Canciones</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for disco in discos %}
            <tr>
                <td>{{ disco.id }}</td>
                <td>{{ disco.titulo }}</td>
                <td>{{ disco.banda }}</td>
                <td>{{ disco.anioLanzamiento }}</td>
                <td>{{ disco.tipo }}</td>
                <td>{{ disco.canciones | length }}</td>
                <td>
                    <a href="{{ path('disco_modificar', {id : disco.id}) }}" class="btn btn-primary">editar</a>
                    <a href="{{ path('disco_eliminar', {id : disco.id}) }}" class="btn btn-danger">borrar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <th colspan="6">No hay discos</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
